<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<div class="row-fluid kategorieBannerMikrofone">
  <div class="kategorieBannerOverlay"></div>
  <h1 class="kategorieBannerText" align="center">Unsere Auswahl an Mikrofonen!</h1>
  <div class="seperatorKategorieBanner"></div>

</div>
<div class="row kategorieFilterRow">
  <div class="col-xl-2 col-lg-2 col-sm-12 filterCol">
    <div class="filterDiv">
      <div class="filterHerstellerHeadline">

        <h3 align="center" class="filterHerstellerHeadlineText">Hersteller</h3>

      </div>

      <div class="filterInnerDiv">  

        <input type="checkbox" id="Shure" class="filterInput" name="Shure" value="Shure">
        <label for="Shure" class="filterLabel">Shure</label><br>
        <input type="checkbox" id="Neumann" class="filterInput" name="Neumann" value="Neumann">
        <label for="Neumann" class="filterLabel">Neumann</label><br>
        <input type="checkbox" id="Rode" class="filterInput" name="Rode" value="Rode">
        <label for="Rode" class="filterLabel">Rode</label><br>



      

      <form action="/mikrofoneSortAsce" method="GET">
        <button id="sortBtn1">Preis
          <i class="fa fa-chevron-up iconSort"></i>
           </button>
      </form>
      <form action="/mikrofoneSortDesc" method="GET">
        <button id="sortBtn2">Preis
          <i class="fa fa-chevron-down iconSort"></i>
           </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">

    <%- include('cardRender') -%>
    <script>
      getFilter = document.querySelectorAll(".filterInput")
      cardElements = document.querySelectorAll(".cardInstrument");
      checkboxShure = document.querySelector("#Shure")
      checkboxNeumann = document.querySelector("#Neumann")
      checkboxRode = document.querySelector("#Rode")


      //zeige elemente des ausgewählten filters..alle anderen verschwinden
      //wenn keine checkbox ausgewählt ist, werden alle angezeigt
      getFilter.forEach((gf) => {
        gf.addEventListener("change", (gfevent) => {
          if (gf.checked == true) {
            cardElements.forEach((ce) => {
              if (gf.name == ce.getAttribute("value"))
                ce.classList.add("show" + gf.name)
              ce.style.display = "none"
              console.log("show" + gf.name)

            })

          }
          else if (checkboxShure.checked == false && checkboxNeumann.checked == false && checkboxRode.checked == false) {
            cardElements.forEach((ce) => {
              ce.classList.remove("show" + gf.name)
              ce.style.display = "block"
            })
          }
          else {
            cardElements.forEach((ce) => {
              if (gf.name == ce.getAttribute("value"))
                ce.classList.remove("show" + gf.name)

            })

          }
        })
      })


    </script>






  </div>
</div>







<%- include('partials/footer') -%>